

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#2ecc71;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 10px;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
}

.hero button{
    padding:10px 20px;
    border:none;
    background:#2ecc71;
    color:white;
    cursor:pointer;
}

.booking{
    padding:40px 20px;
    text-align:center;
}

.booking form{
    max-width:400px;
    margin:auto;
}

.booking input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.booking button{
    padding:10px 20px;
    border:none;
    background:#2ecc71;
    color:white;
    cursor:pointer;
}

.services{
    padding:40px 20px;
    text-align:center;
}

.card{
    background:white;
    margin:20px auto;
    padding:20px;
    max-width:300px;
    border-radius:10px;
}

footer{
    background:#2ecc71;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
